<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-them text-center">
        <h3 class="text-theme-center">All Blog Posts</h3>
        <p>From here you can manage your blog posts</p>
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center ">
    <div class=" d-flex mr-2">
      <button class="btn btn-info bg-theme" routerLink="/posts/new">Add New Post</button>
    </div>
    <div class=" d-flex justify-content-center">
      <button class="btn btn-warning bg-theme" routerLink="/">Go To Dashboard</button>
    </div>
  </div>
</div>
<div class="container">
  <h1>TechGeekNext Upload Image Example</h1>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th>Image</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Permalink</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <th scope="row">{{post.id}}</th>

      <img [src]="post.imgPath" alt="Profile Picture"/>

      <td>{{post.title}}</td>
      <td>{{post.postContent}}</td>
      <td>{{post.permalink}}</td>
      <td (click)="onDelete(+post.id)">
        <button class="btn btn-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
